.notification-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    /* background-color: rgb(251, 243, 239); */
    box-shadow: 0 3px 6px var(--shadow-color);
}
.countries, .timing, .stadium {
    padding: 10px;
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .timing>p {
        font-size: small;
    }
}

