.menuItem2{
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 10px;
    
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menuItem2:hover{
    border-top: 3px solid black;
}
.menuItem2:hover .img_menu {
    width: 150px;
}


.img_menu{
    width: 0px;
    margin-right: 10px;
    transition: width 1s ;
}

.menuItem2 div {
    border-radius: 10px;
    /* width: 150px; */
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.menuItem2 p{
    font-size: 0.8rem;
    /* font-weight: 300; */
    margin: 0 ;
    padding: 0.5rem;
    flex: 1;
}
.img_cont_menu{
    display: flex;
    flex: 2;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    .menuItem2:hover .NamePlat{
        display: none;
    }
    .menuItem2:hover .img_menu {
        width: 120px;
    }
    .NamePlat{
        font-size: 0.8rem;
    }
    .menuItem2{
        width: 100%;
    }
  }
  
