.pagination{
    /* background-color: #df2020; */
    width: 100%;
    margin: 0 0 10px 0;
  }
  
  .paginationBttns {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    list-style: none;
    margin-top: 30px;
  }
  
  .paginationBttns a {
    padding: 5px 13px;
    background: var(--color-secondary);
    color: #fff !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
  }
  
  .paginationBttns a:hover {
    background: var(--color-secondary-opacity-little);
  }
  