.barTarget{
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 1rem;
    margin-top: 10px;
    align-items: center ;
}
.barTargetDiv{
    display: flex;
    align-items: center;
    
    gap: 0.2rem;
    justify-content: center;
}
.target{
    font-size: 0.6rem;
    
    font-family:"Roboto", sans-serif;
    color: #b2b2b2;
    transition: all 0.3s ease-in-out;
}
.iconNumber{
    width: 35px;
    height: 35px;
   
    color: #006e28;
}
.validNumber{
    
    color: #006e28;
    

}
.progress-bar-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.progress-bar{
    width: 300px;
    height: 10px;
    box-sizing: border-box;
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
    margin-left: 100px;
    display: flex;
}
.progress{
    width: 0%;
    height: 100%;
    background-color: #006e28;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}