:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: green;
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}
@function getAnimationDuration($duration: number) {
  @return calc(#{$duration} * var(--animation-speed));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
}
.navbar {
  height: 55px;
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--primary-color);
    text-shadow: 0 1px 3px var(--shadow-color);
    span {
      color: var(--text-color);
    }
  }
  .nav-links {
    a {
      margin-left: 1em;
      color: var(--text-light);
      letter-spacing: 2px;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        height: 3px;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transition: getAnimationDuration(.2s) ease-in-out;
      }
      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }
      &.active {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }
  .sidebar-btn {
    height: 28px;
    width: 30px;
    position: relative;
    display: none;
    .bar {
      border-radius: 5px;
      height: 6px;
      width: 100%;
      background-color: var(--text-color);
      position: absolute;
      transition: transform getAnimationDuration(.5s);
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform-origin: right;
        transform: scaleX(0.8) translateY(-50%);
      }
      &:nth-child(3) {
        top: 100%;
        transform-origin: right;
        transform: scaleX(1.1) translateY(-100%);
      }
    }
    &.active {
      .bar {
        transform-origin: center;
        top: 50%;
        &:nth-child(1) {
          transform: translate(0, -50%) scale(1) rotate(45deg);
        }
        &:nth-child(2) {
          transform: scaleX(0) translateY(-50%);
        }
        &:nth-child(3) {
          transform: translate(0, -50%) scale(1) rotate(-45deg);
        }
      }
    }
  }
}
.containerr {
  padding-inline: 15vw;
}
@import "partials/animations.scss";
@media screen and (max-width: 768px) {
  .navbar {
    .nav-links {
        display: none;
    }
    .sidebar-btn {
        display: block;
    }
  }
    
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    z-index: 9999;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.2),
                3px 0 5px var(--shadow-color);
    animation: getAnimationDuration(.3s) slideInLeft;
    .sidebar-link {
        display: block;
        padding: .5em 1em;
        border-left: .4em solid transparent;
        margin-bottom: 1em;
        color: var(--text-color);
        animation: getAnimationDuration(.3s) slideInLeft forwards;
        transform: translateX(-100%);
        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
               animation-delay: #{$i * 0.1}s;
            }
        }
        &.active {
            border-left-color: var(--primary-color);
            // background-color: rgba(255, 0, 86, 0.1);
        }
        &:hover {
            border-left-color: var(--primary-color);
            background-color: rgba(0,0,0,0.05);
        }
        svg{
            width: 1.2em;
            margin-right: .5em;
        }
    }
    
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #333333;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  font-size: 10px;
  top: 1px;
  right: 1px;
  width: 15px;
  height: 15px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.dropDownNotification {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.1rem;
  right: 4rem;
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  z-index: 1000;
  background-color: #ffffff;
  border: 1ps solid #ccc;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;

}
.dropDownNotification::before{
  content: '';
  position: absolute;
  top: -0.1rem;
  right: 5.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.dropDownNotification .list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 16px;
}
.info-title {
  font-size: 0.7rem;
  font-weight: 600;
  color: #333;
}
.profilAndNotifs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 5px;
  height: 150px;
  margin-left: 0px!important;
}
.menu li {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 7px 20px;
  // background-color: aqua;
}
.menu li:hover {
  background-color: #ccc;
  border-radius: 5px;
}
// div profile
.profile {
  width: 110px;
  top: 2rem;
  right: 7.3rem;
  height: 180px;
}
.profile::before{
  content: '';
  position: absolute;
  top: -0.1rem;
  right: 2rem;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
@media screen and (max-width: 768px) {
  .profilAndNotifs {display: none;}
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.content span {
  display: inline-block;
}
.content-flag {
  margin-right: 15px;
}
.notification-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
}
.countries, .timing, .stadium {
  padding: 10px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .timing>p {
      font-size: small;
  }
}

@keyframes victory-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
